
@{
    ViewBag.Title = "Hakkımda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="container">
    <tr>
        <td>
            <div class="konteynır">
                <img src="~/Images/cyberpunk.jpg" alt="Notebook" style="width:100%;">
                <div class="kontent">
                    <p style="color: floralwhite">
                        Merhaba!
                        2009’un Mayıs ayında yayın hayatına başlayan Oyun Dünyam,
                        tüm gücü ile oyunseverlerin hizmetinde. Oyun dünyasından son haberlerin yanı sıra ağırlıklı olarak inceleme ve stüdyo
                        programlarıyla bezenmiş olan içeriğimizi, her geçen gün daha fazla geliştirerek, siz oyunseverlere özgün ve farklı bir yapı sunmanın peşindeyiz.
                        Beta sürecinde başlayan maceramızı, yeni alt yapı ve tasarımımızla beraber farklı bir seviyeye çıkarttığımızı düşünüyorum. Biz Oyun Dünyam ailesi olarak,
                        sizin de desteğiniz sayesinde oyun dünyası var olduğu sürece, hem oyunların sonunda hem de burada sizlerle beraber olacağız.
                    </p>
                </div>
            </div>

        </td>

    </tr>
    <tr>
        <td>
            <h3>
                <b style="color:dodgerblue">
                    Admin:Mutluhan Ekinci
                </b>
            </h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>
                <b>
                    <a href="https://twitter.com/mutluuekincii" target="_blank"><span class="fa fa-twitter"></span></a>
                    <a href="https://www.instagram.com/mutluekinci/" target="_blank"><span class="fa fa-instagram"></span></a>
                    <a href="https://www.twitch.tv/happyn_" target="_blank"><span class="fa fa-twitch"></span></a>
                </b>
            </h3>
        </td>
    </tr>
</table>



